<div class="content-theme-grey">
  <div class="container">
    <div class="space30"></div>
    <h3 style="margin-left: 350px;"><b>APPLICATIONS RECEIVED</b></h3>
      <div class="space20"></div>
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
       <div class="panel panel-primary">
       <div class="panel-body">
       <div class="table-responsive">
          <table class="table">
            <col width="25%">
            <col width="5%">
            <col width="15%">
            <col width="10%">
            <col width="5%">
            <col width="5%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="5%">
            <tr>
              <td>
                <div><h4><strong><%= link_to @job.title, job_path(@job)%></strong></h4></div>
                <div><%= @job.description %></div>
                <input type="hidden" name="job_id" id="job_id" value = <%= @job.id %> >
              </td>
              <td>
                <% case @job.event_type %>
                <% when 'private_event' %>
                  <%= "Private Event" %>
                <% when 'bar_restaurant' %>
                  <%= "Bar/Restaurant" %> 
                <% when 'club_lounge' %>
                  <%= "Club/Lounge" %>
                <% when 'wedding' %>
                  <%= "Wedding" %>
                <% when 'corporate' %>
                  <%= "Corporate" %>
                <% when 'festival' %>
                  <%= "Festival" %>
                <% when 'charity' %>
                  <%= "Charity" %>         
                <% end %>  
              </td>
              <td>
                <%= "#{ @job.available_date }" %>
              </td>
              <td>
                <%= @job.location %>
              </td>
              <td>
                <%= "Quote requested" %>
              </td>
              <td>
                <%= "Still Looking"%>
              </td>
              <td>
                <%= link_to "Applications Received", job_app_received_path(@job) %>
                <div><%= @pending %></div>
              </td>
              <td>
                <%= link_to "In Negotiation", job_app_negotiation_path(@job)%>
                <div><%= @special_offer %></div>
              </td>
              <td>
                <%= link_to "Confirmed", job_app_confirmed_path(@job)%>
                <div><%= @confirmed %></div>
              </td>
              <td>
                <%= link_to 'update', edit_job_path(@job.id) %>
              </td>
            </tr>
          </table>
        </div>
        </div>
        </div>    
      </div>
    </div>  
    <div class="space20"></div>
    <div class="row">
      <div class="col-md-3">
        <%= render 'layouts/job/job_status', job: @job%>
      </div>
      <div class="col-md-7">
        <% flash.each do |key, message| %>
            <div class="alert alert-<%= flash_type(key.to_s) %> fade in">
              <button type="button" class="close" data-dismiss="alert">x</button>
              <div id="flash_<%= key %>"> <%= sanitize(message) %> </div>
            </div>
        <% end %>
        <div id="my_booking_list">
          <% if @request_booking_list.count == 0 %>
              <h3>You have no booking request.</h3>
          <% end %>
          <% @request_booking_list.each do |booking| %>
              <%= render 'job_received_list', booking: booking %>
          <% end %>
        </div>
      </div>
      <div class="col-md-2">
       Sort by:  <%= select_tag "sort_by", options_for_select([["Fees","Fees" ], ["Fans", "Fans"], ["Name", "Name"], ["Genre", "Genre"]]), :class=> 'form-control', prompt: ""%>
      </div>
    </div>
    <div class="space50"></div>
  </div>
</div>
<%= render 'shared/blankfooter' %>

<div id="modal_special_offer" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-m">
    <div class="modal-content booking">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2>Special Offer</h2>
        <h5 id="booking_service_title"></h5>
        <hr>
      </div>
      <%= form_for :booking_request, url: create_special_offer_path do |f| %>
          <%= f.hidden_field :id %>
          <input type="hidden" name="id" id="profile_id">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <h4>Price</h4>
                  <%= f.number_field :special_price, class: 'form-control', required: true, max: 999999999, min: 0 %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <h4>Currency</h4>
                  <%= f.select :currency, Service.currencies.map(&:upcase).sort, {:selected => session[:preferred_currency]}, { :class => 'form-control'} %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <h4>Event Date & Time</h4>
              <%= f.text_field :date, class: 'datepicker form-control', :autocomplete => :off, required: true %>
            </div>
            <div class="form-group">
              <h4>Message</h4>
              <%= f.text_area :message, class: 'form-control' %>
            </div>
          </div>
          <div class="modal-footer actions">
            <%= f.submit 'Send Special Offer', "class" => "btn btn-info btn-block btn-blue-i" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<%= content_for(:bottom_script) do %>
  <script type="text/javascript">

    $("#sort_by").on('change', function(){
      var ss = $("#sort_by").val();
      var id = $("#job_id").val();
      var form_data = {sort_by : ss}
      $.ajax({
          type: "GET",
          url: "/job_app_negotiation/"+id , //sumbits it to the given url of the form
          data: form_data,
          dataType: "html" // you want a difference between normal and ajax-calls, and json is standard
      }).success(function(json){
          console.log("success", json);
      }); 
    });

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $('input[type=number]').on('mousewheel', function(){
          var el = $(this);
          el.blur();
          setTimeout(function(){
            el.focus();
          }, 10);
        });
    });

    $(document).on("click", ".booking_special_offer", function () {
        var ID = $(this).data('booking_id');
        $("#booking_request_id").val( ID );
        var profileID = $(this).data('requestor_id');
        $("#profile_id").val( profileID );
        var serviceID = $(this).data('service_id');
        $("#booking_request_service_id").val( serviceID );
        var serviceName = $(this).data('service_name');
        $('#booking_service_title').html("( Offer: " + serviceName + " )");
        var event_location = $(this).data('location');
        $('#booking_request_event_location').val(event_location);
        var event_date = $(this).data('datetime');
        $('#booking_request_date').val(event_date);
        $('#booking_request_special_price').val('');
        $('#booking_request_currency').val(<%= session[:preferred_currency] %>);
        $('#booking_request_message').val('');
    });

    $(document).on("click", ".edit_special_offer", function () {
        var ID = $(this).data('booking_id');
        $("#booking_request_id").val( ID );
        var profileID = $(this).data('requestor_id');
        $("#profile_id").val( profileID );
        var serviceID = $(this).data('service_id');
        $("#booking_request_service_id").val( serviceID );
        var serviceName = $(this).data('service_name');
        $('#booking_service_title').html("( Offer: " + serviceName + " )");
        var event_location = $(this).data('location');
        $('#booking_request_event_location').val(event_location);
        var event_date = $(this).data('datetime');
        $('#booking_request_date').val(event_date);
        var special_price = $(this).data('special_price');
        $('#booking_request_special_price').val(special_price);
        var currency = $(this).data('currency');
        $('#booking_request_currency').val(currency);
        var message = $(this).data('message');
        $('#booking_request_message').val(message);
    });
  </script>
<% end %>

<style>
  .table td { 
    border-top: none !important;
    border-left: none !important;
  }
</style>

