!!! 5
%html
  %head
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{content: "NONE,NOARCHIVE", name: "robots"}
    = csrf_meta_tag
    = stylesheet_link_tag "rails_admin/rails_admin.css", media: :all
    = javascript_include_tag "rails_admin/rails_admin.js"
    -# Initialize JS simple i18n
    :javascript
      RailsAdmin.I18n.init(JSON.parse("#{j I18n.t("admin.js").to_json}"))
  %body.rails_admin
    #loading.label.label-warning{style: 'display:none; position:fixed; right:20px; bottom:20px; z-index:100000'}= t('admin.loading')
    %nav.navbar.navbar-default.navbar-fixed-top
      = render "layouts/rails_admin/navigation"
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar-nav
          = render "layouts/rails_admin/sidebar_navigation"
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
          .content{:'data-pjax-container' => true}= render template: 'layouts/rails_admin/pjax'


:javascript

  $(document).ready(function(){
    $("#userchange").click(function(){
      var uemail = $("#user_email").val();
      if (uemail == ""){
        alert("Email field cannot be blank")
        return false ;
      }

      var profile_id = $("#profile_id").val();    
      var valuesToSubmit = $('form#email_change').serialize();
      var uu = $('form#email_change').attr('action');
      $.ajax({
        type: "POST",
        url: $('form#email_change').attr('action'), //sumbits it to the given url of the form
        data: valuesToSubmit,
        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
      }).success(function(json){
        var html1 = "<p>"+json.profile_name+" created by account <a href='/admin/user/"+json.old_user_id+"'>"
          +"Account</a> with email "+json.old_email+" on  "+json.profile_created_at+"</p>"
        var html2 = "<p>"+json.profile_name+" migrated to account <a href='/admin/user/"+json.new_user_id+"'>"
          +"Account</a> with email "+json.new_email+" on  "+json.profile_migrated_at+"</p>"
        var html3 = html1+html2
        $("#history_back").html(html3); 
        $("#history").html(html3);
        $('#show_notice').html("<p>profile migrated successfully.</p>").slideDown(10).delay(10).slideUp(10000)
      });
      return false ;
    });
  });