<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="flash_errors">
        <% flash.each do |key, message| %>
            <div class="alert alert-<%= flash_type(key.to_s) %> fade in">
              <button type="button" class="close" data-dismiss="alert">x</button>
              <div id="flash_<%= key %>"> <%= sanitize(message) %> </div>
            </div>
        <% end %>
      </div>
      <%= form_for @job, html: { id: 'job_form' } do |f| %>
          <%= f.hidden_field :id%>
          <div class="space30"></div>
          <div class="form-group">
            <%= f.label :title_of_the_offer %>
            <%= f.text_field :title, required: true, class: 'form-control', :maxlength => 30 %>
          </div>
          <div class="form-group">
            <%= f.label :type_of_event %>
            <%= f.select :event_type, ["Bar/Restaurant", "Private Event", "Club/Lounge", "Wedding", "Corporate", "Festival", "Charity"], {}, :required => true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control', rows: 3 %>
          </div>
          <div class="form-group">
            <%= f.label "Music genres (optional)" %>
            <%= f.select :genre_ids, Genre.pluck(:name, :id), {}, {multiple: true, class: 'form-control', id: "select"} %>
          </div>
          <div class="form-group">
            <%= f.label :local_transportation_included %>
            <%= f.select :transportation, [["No", 0], ["Yes", 1]], {}, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :accomodation_included %>
            <%= f.select :accommodation, [["No", 0], ["Yes", 1]], {}, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label "Food & Beverages" %>
            <%= f.select :food_and_beverage, [["No", 0], ["Yes", 1]], {}, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label "Popularity filter (only artists with a minimum popularity can send you applications) minimum Facebook likes on Facebook Musician Page:" %>
            <%= f.text_field :minimum_fb_likes, class: 'form-control' %>
          </div>
          <div class="form-group job_booking_fee_type">
            <div class="form-group">
              <%= f.label :booking_fee_type %>
              <%= f.select :booking_fee_type, translated_fee_type_options, {}, :required => true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <div class="additional for_send_inquiry"><%= t 'services.form.note_for_send_inquiry' %></div>
              <div class="additional for_free">
                <% Service.free_fee_types.keys.each do |type| %>
                  <label>
                    <%= f.radio_button :free_fee_type, type %>
                    <%= t("services.form.free_fee_types.#{type}") %>
                  </label>
                  <br>
                <% end %>
              </div>
              <div class="additional for_minimum_fees">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.label :booking_fee %>
                      <%= f.number_field :booking_fee, class: 'form-control', max: 999999999, min: 0 %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.label :currency %>
                      <%= f.select :currency, Service.currencies.map(&:upcase).sort, {}, :required => true, class: 'form-control' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h3><%= f.submit @new ? 'Save' : 'Update', class: 'btn btn-info btn-block btn-base' %></h3>
              <div class="space10"></div>
            </div>
            <div class="col-sm-6">
              <h3><%= link_to 'Cancel', jobs_path, class: 'btn btn-default btn-block btn-base' %></h3>
              <div class="space10"></div>
            </div>
          </div>
          <div class="space40"></div>
      <% end %>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#select").select2();
        var scrollToTop = function(){
          $("html, body").scrollTop(0);
        };

        if($('.alert').length > 0) {
          scrollToTop();
        }

        if(<%= @job.new_record? %>){
            $('#job_currency').val("<%= session[:preferred_currency].to_s.upcase %>");
        };


        $('input[type=number]').on('mousewheel', function(){
          var el = $(this);
          el.blur();
          setTimeout(function(){
            el.focus();
          }, 10);
        });

        function fixForm(form) {
          $(form).on('click', 'input[type="submit"],button[type="submit"]', function(e) {
            var hidden_required = [];
            var empty_required_fields = [];
            var name = '';
            $(form).find('input[required], select[required]').each(function() {
              if ($(this).is(':hidden')) {
                hidden_required.push($(this));
                $(this).removeAttr('required');
              } else if ($(this).val().length == 0) {
                name = $('label[for=' + $(this).attr('id') + ']').text()
                empty_required_fields.push(name)
              }
            });

            e.preventDefault();
            if (empty_required_fields.length > 0) {
              $('.service_form_error').remove();
              var error_html = '<div class="alert alert-danger %> fade in service_form_error">' +
                                '<button type="button" class="close" data-dismiss="alert">x</button>' +
                                '<div id="flash_error"> ' + 'Please fill data in those fields:' + empty_required_fields.join(', ') + ' </div>' +
                              '</div>';
              $('#flash_errors').append(error_html);
              scrollToTop();
            } else {
              $(form).submit();
            }
            $(hidden_required).each(function() {
              $(this).attr('required', 'required');
            });

            return false;
          });
        }

        fixForm('#job_form');

        function showAdditionalForSelected(){
          $('.job_booking_fee_type.form-group .additional').hide();

          var selected_item = '.for_'+$('#job_booking_fee_type').val();

          $(selected_item).show();
        }

        $("#job_booking_fee_type").on('change', showAdditionalForSelected);
        showAdditionalForSelected();
    });


</script>
