<% @pending = BookingRequest.booking_list(current_user.current_profile.id).where(:job_id => job.id, :status => "Pending").count %>
<% @confirmed = BookingRequest.booking_list(current_user.current_profile.id).where(:job_id => job.id, :status => "Accepted").count %>
<% @special_offer = BookingRequest.booking_list(current_user.current_profile.id).where(:job_id => job.id, :status => "Special Offer").count %>
<tr>
  <td>
    <p class="p_headline"><%= link_to job.title, job_path(job)%></p>
  </td>
  <td>
    <% case job.event_type %>
    <% when 'private_event' %>
      <%= "Private Event" %>
    <% when 'bar_restaurant' %>
      <%= "Bar/Restaurant" %> 
    <% when 'club_lounge' %>
      <%= "Club/Lounge" %>
    <% when 'wedding' %>
      <%= "Wedding" %>
    <% when 'corporate' %>
      <%= "Corporate" %>
    <% when 'festival' %>
      <%= "Festival" %>
    <% when 'charity' %>
      <%= "Charity" %>         
    <% end %>  
  </td>
  <td>
    <%= "#{ job.available_date }" %>
  </td>
  <td>
    <%= job.location %>
  </td>
  <td>
    <% case job.booking_fee_type %>
    <% when "send_inquiry" %>
      <%= "Quote requested" %>
    <% when "free" %>
      <%= "Free" %>
    <% when "minimum_fees" %>
      $<%= convert_to_preferred_currency(job.currency, job.booking_fee) %>
    <% else %>
      <%= "Quote requested" %>           
    <% end %> 
    
  </td>
  <td>
    <%= "Still Looking"%>
  </td>
  <td>
    <%= link_to "Applications Received", job_app_received_path(job) %>
    <div><%= @pending %></div>
  </td>
  <td>
    <%= link_to "In Negotiation", job_app_negotiation_path(job) %>
    <div><%= @special_offer%></div>
  </td>
  <td>
    <%= link_to "Confirmed", job_app_confirmed_path(job) %>
    <div class="space20"></div>
    <div><%= @confirmed%></div>
  </td>
  <td>
    <%= link_to 'update', edit_job_path(job.id) %>
  </td>
  <td>
    <a href="" id="delete_<%= job.id.to_s %>" onclick="return false;">delete</a>
  </td>
</tr>
<script type="text/javascript">
  $('#delete_<%= job.id.to_s %>').click(function(e){
      bootbox.dialog({
        title: "Are you sure you want to remove <%= job.title %> ?",
        message: "<a class='btn btn_modal_confirm' href='/jobs/<%= job.id.to_s %>' data-method='delete'>Yes</a> <button type='button' class='btn btn-default btn_modal_confirm' data-dismiss='modal' aria-hidden='true'>No</button>"
      });
  });
</script>
