<%= render :partial => 'my_custom_flash', :flash => flash %>

<div class="fade out">
  <!-- Top wrap - Slider -->
  <div class="slider-wrap" id="1">
    <div class="desktop">
      <div id="owl-main" class="owl-carousel">
        <div class="item"><%= image_tag '01.jpg', class: 'img-responsive' %></div>
        <div class="item"><%= image_tag '02.jpg', class: 'img-responsive' %></div>
        <div class="item"><%= image_tag '03.jpg', class: 'img-responsive' %></div>
        <div class="item"><%= image_tag '04.jpg', class: 'img-responsive' %></div>
        <div class="item"><%= image_tag '05.jpg', class: 'img-responsive' %></div>
        <div class="item"><%= image_tag '06.jpg', class: 'img-responsive' %></div>
        <div class="item"><%= image_tag '07.jpg', class: 'img-responsive' %></div>
      </div>
      <div class="slide-content">
        <div id="owl-main-text" class="owl-carousel">
          <div class="item">
            <h2>
              <%= t('.slide_content.booking_platform') %>
              <br>
              <span><%= t('.slide_content.book_musiciants_easily') %></span>
            </h2>
          </div>
        </div>

        <a class="intro-btn" id="how_it_work">How it works</a>
      </div>
      <a href="#2" class="scroll-btn"></a>
    </div>
    <div class="search">
      <div class="container-fluid">
        <div class="row">
          <div id="2" class="col-lg-6 col-lg-offset-3">
            <%= render 'home/search_for_location' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Top wrap - Slider -->

  <section class="musicians">
    <div class="container">
      <div class="row">
        <h1 class="text-center">Available Musicians near you</h1>

        <div class="space30"></div>
        <hr>
      </div>
      <div class="space30"></div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row" align="center">
            <%= render 'home/list_musicians' %>
          </div>
        </div>
      </div>
      <div class="space50"></div>
      <a href="<%= browse_musicians_path %>" class="btn btn-default btn-browse">Browse all Musicians in your area</a>

      <div class="space50"></div>
    </div>
  </section>
</div>
<%= render 'newsletter/subsciption' %>
 <div>
   <% if @partners.present? %>
     <h2 class= "text-center" style="color: #00b0ff;font-size: 50px;"> Our partners </h2>
   <% end %>  
  <% if @partner_first_row.present? %> 
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-2 partner">
               <% p = @partner_first_row.where(:order => 1).first%>
               <% if p.present?%>
                 <%= image_tag(p.partner_picture, :size => "120x120") %>
               <% end %>  
            </div>
            <div class="space5"></div>
            <div class="col-md-2 partner">
              <% p = @partner_first_row.where(:order => 2).first%>
              <% if p.present?%>
                <%= image_tag(p.partner_picture, :size => "120x120") %>
              <% end %>  
            </div>
            <div class="space5"></div>
            <div class="col-md-2 partner">
              <% p = @partner_first_row.where(:order => 3).first%>
               <% if p.present?%>
                 <%= image_tag(p.partner_picture, :size => "120x120") %>
               <% end %>  
            </div>
            <div class="space5"></div>
            <div class="col-md-2 partner">
              <% p = @partner_first_row.where(:order => 4).first%>
              <% if p.present?%>
                <%= image_tag(p.partner_picture, :size => "120x120") %>
              <% end %>  
            </div>
            <div class="space5"></div>
            <div class="col-md-2 partner">
              <% p = @partner_first_row.where(:order => 5).first%>
              <% if p.present?%>
                <%= image_tag(p.partner_picture, :size => "120x120") %>
              <% end %>  
            </div>
            <div class="space5"></div>
            <div class="col-md-2 partner">
              <% p = @partner_first_row.where(:order => 6).first%>
              <% if p.present?%>
                <%= image_tag(p.partner_picture, :size => "120x120") %>
              <% end %>  
            </div>
          </div>
        </div>    
      </div>    
    </div>
  <% end %>  
  <% if @partner_second_row.present? %>
    <div class="space20"></div>
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-2 partner">
               <% p = @partner_second_row.where(:order => 7).first%>
               <% if p.present?%>
                 <%= image_tag(p.partner_picture, :size => "120x120") %>
               <% end %>  
            </div>
            <div class="col-md-2 partner">
              <% p = @partner_second_row.where(:order => 8).first%>
              <% if p.present?%>
                <%= image_tag(p.partner_picture, :size => "120x120") %>
              <% end %>  
            </div>
            <div class="col-md-2 partner">
              <% p = @partner_second_row.where(:order => 9).first%>
               <% if p.present?%>
                 <%= image_tag(p.partner_picture, :size => "120x120") %>
               <% end %>  
            </div>
            <div class="col-md-2 partner">
              <% p = @partner_second_row.where(:order => 10).first%>
              <% if p.present?%>
                <%= image_tag(p.partner_picture, :size => "120x120") %>
              <% end %>  
            </div>
            <div class="col-md-2 partner">
              <% p = @partner_second_row.where(:order => 11).first%>
              <% if p.present?%>
                <%= image_tag(p.partner_picture, :size => "120x120") %>
              <% end %>  
            </div>
            <div class="col-md-2 partner">
              <% p = @partner_second_row.where(:order => 12).first%>
              <% if p.present?%>
                <%= image_tag(p.partner_picture, :size => "120x120") %>
              <% end %>  
            </div>
          </div>
        </div>  
      </div>    
    </div>
  <% end %>

  <% if @partner_third_row.present? %>
    <div class="space20"></div>
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-2 partner">
               <% p = @partner_third_row.where(:order => 13).first%>
               <% if p.present?%>
                 <%= image_tag(p.partner_picture, :size => "120x120") %>
               <% end %>  
            </div>
            <div class="col-md-2 partner">
              <% p = @partner_third_row.where(:order => 14).first%>
              <% if p.present?%>
                <%= image_tag(p.partner_picture, :size => "120x120") %>
              <% end %>  
            </div>
            <div class="col-md-2 partner">
              <% p = @partner_third_row.where(:order => 15).first%>
               <% if p.present?%>
                 <%= image_tag(p.partner_picture, :size => "120x120") %>
               <% end %>  
            </div>
            <div class="col-md-2 partner">
              <% p = @partner_third_row.where(:order => 16).first%>
              <% if p.present?%>
                <%= image_tag(p.partner_picture, :size => "120x120") %>
              <% end %>  
            </div>
            <div class="col-md-2 partner">
              <% p = @partner_third_row.where(:order => 17).first%>
              <% if p.present?%>
                <%= image_tag(p.partner_picture, :size => "120x120") %>
              <% end %>  
            </div>
            <div class="col-md-2 partner">
              <% p = @partner_third_row.where(:order => 18).first%>
              <% if p.present?%>
                <%= image_tag(p.partner_picture, :size => "120x120") %>
              <% end %>  
            </div>
          </div>
        </div>  
      </div>    
    </div>
  <% end %>
 </div>
 <div class="space20"></div>
<%= render '/shared/landingfooter' %>

<style type="text/css">
  
</style>