<% if false %>
  <div class="overlay"></div>
<% end %>  
<section class="login-body">
  <div class="container">
    <div class="row">
      <div class="space40"></div>
      <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
          <div class="panel-body edit-profile">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <% flash.each do |key, message| %>
                    <div class="alert alert-<%= flash_type(key.to_s) %> fade in">
                      <button type="button" class="close" data-dismiss="alert">x</button>
                      <div id="flash_<%= key %>"> <%= sanitize(message) %> </div>
                    </div>
                <% end %>

                <%= form_for :job do |f| %>
                    <div class="space30"></div>
                    <div class="form-group">
                      <%= f.label :title, "Title of the offer" %>
                      <pre class="form-control"><%= @job.title %></pre>
                    </div>
                    <div class="form-group">
                      <%= f.label :event_type, "Type of event" %>
                      <div class="form-group">
                        <% case @job.event_type %>
                        <% when 'private_event' %>
                          <pre class="form-control"><%= "Private Event" %></pre>
                        <% when 'bar_restaurant' %>
                          <pre class="form-control"><%= "Bar/Restaurant" %></pre> 
                        <% when 'club_lounge' %>
                          <pre class="form-control"><%= "Club/Lounge" %></pre>
                        <% when 'wedding' %>
                          <pre class="form-control"><%= "Wedding" %></pre>
                        <% when 'corporate' %>
                          <pre class="form-control"><%= "Corporate" %></pre>
                        <% when 'festival' %>
                          <pre class="form-control"><%= "Festival" %></pre>
                        <% when 'charity' %>
                          <pre class="form-control"><%= "Charity" %></pre>           
                        <% end %>  
                      </div>    
                    </div>
                    <div class="form-group">
                      <%= f.label :description %>
                      <pre class="form-control pre_text_area"><%= @job.description %></pre>
                    </div>
                    <div class="form-group">
                      <%= f.label "Music genres (optional)" %>
                      <pre class="form-control"><%= @genre_name %></pre>
                    </div>
                    <div class="form-group">
                      <%= f.label "Local transportation included"%>
                      <% if @job.transportation == true %>
                        <pre class="form-control"><%= "Yes" %></pre>
                      <% else%>
                        <pre class="form-control"><%= "No" %></pre>
                      <% end %>  
                    </div>
                    <div class="form-group">
                      <%= f.label "Accomodation included"%>
                      <% if @job.accommodation == true %>
                        <pre class="form-control"><%= "Yes" %></pre>
                      <% else%>
                        <pre class="form-control"><%= "No" %></pre>
                      <% end %>  
                    </div>
                    <div class="form-group">
                      <%= f.label "Food & Beverages"%>
                      <% if @job.food_and_beverage == true %>
                        <pre class="form-control"><%= "Yes" %></pre>
                      <% else%>
                        <pre class="form-control"><%= "No" %></pre>
                      <% end %>  
                    </div>
                    <div class="form-group">
                      <%= f.label "Popularity filter (only artists with a minimum popularity can send you applications) minimum facebook likes on facebook musician page:" %>
                      <pre class="form-control"><%= @job.minimum_fb_likes %></pre>
                    </div>
                    <div class="form-group">
                      <%= f.label "Country of origin the band (optional)" %>
                      <pre class="form-control"><%= @job.country_origin %></pre>
                    </div>

                    <div class="form-group">
                      <%= f.label :booking_fee_type %>
                      <% case @job.booking_fee_type %>
                      <% when "send_inquiry" %>
                        <pre class="form-control"><%= "Send enquiry" %></pre>
                      <% when "free" %>
                        <pre class="form-control"><%= "For Free" %></pre>
                      <% when "minimum_fees" %>
                        <pre class="form-control"><%= "Fixed price" %></pre>    
                      <% end %>  
                      <div class="form-group">
                        <% case @job.booking_fee_type %>
                        <% when 'send_inquiry' %>
                          <div class="additional for_send_inquiry"><%#= t 'services.form.note_for_send_inquiry' %></div>
                        <% when 'minimum_fees' %>
                          <div class="additional for_minimum_fees">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <%= f.label :booking_fee %>
                                  <pre class="form-control"><%= convert_to_preferred_currency(@job.currency, @job.booking_fee) %></pre>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <%= f.label :currency %>
                                  <pre class="form-control"><%= preferred_currency_session.upcase %></pre>
                                </div>
                              </div>
                            </div>
                          </div>  
                        <% end %>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label "Available on" %>
                      <pre class="form-control"><%= @job.available_date %></pre>
                    </div>

                    <div class="space20"></div>
                <% end %>
              <div>
                <%= form_for :booking_request, url: create_book_request_path do |ff| %>
                  <%= ff.hidden_field :job_id, :value => @job.id%>
                  <%= hidden_field_tag :servicecalendar, @job.calendar_picker, :class => "service_calendar"%>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group" id="optional_price">
                        <%= label_tag "Event Date" %>
                        <%= ff.text_field :date, class: 'datepicker modal-booking form-control', :autocomplete => :off, required: true%>
                      </div>
                    </div>
                  </div>  
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group" id="optional_price">
                        <%= label_tag "Propose your booking fees for this offer" %>
                        <% if @job.booking_fee_type == "free" %>
                          <%= ff.number_field :confirmed_price, value: 0, class: 'form-control', max: 0, min: 0%>
                        <% else %>
                          <%= ff.number_field :confirmed_price,:required => true, class: 'form-control', max: 999999999, min: 0 %>
                        <% end %>  
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= ff.label :currency %>
                        <div class="space20"></div>
                        <%= ff.select :currency, Job.currencies.map(&:upcase).sort, {}, :required => true, class: 'form-control' %>
                      </div>
                    </div>
                  </div>
                  <% if @br.present? %>
                   <div class="form-group" style="margin-left:30%">
                     <p> Application already sent. </p> 
                     <p><%= link_to "Back", :back%></p>
                   </div>
                  <% else %>  
                    <div class="form-group" style="margin-left:30%">
                      <%= ff.submit 'Send application', "class" => "btn bt-large btn-primary" %>&nbsp;&nbsp;&nbsp;&nbsp;
                      <%= link_to 'Cancel', "#",:class => "btn btn-default" %>
                    </div>
                  <% end %>  
                <% end %>
                </div>
                <div class="space40"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $(document).ready(function () {
    $('#booking_request_currency').val("<%= session[:preferred_currency].to_s.upcase %>");
  
        $('.datepicker').val("");
        var calendar = $(".service_calendar").val().toString();
        if (calendar.split("|")[0] == "1") {
            $('.datepicker').datetimepicker('destroy');
            $('.datepicker').datetimepicker({
                format: 'd/m/Y H:i',
                minDate: new Date(calendar.split("|")[1]),
                maxDate: new Date(calendar.split("|")[1]),
                onGenerate: function (ct) {
                    var validDate = calendar.split("|")[2];
                    if (validDate != ct.dateFormat('d/m/Y')) {
                        disable_time();
                    }
                }
            });
            var dateTime = new Date();
            $('.datepicker').val(calendar.split("|")[2] + " 12:00");
        }
        else if (calendar.split("|")[0] == "2") {
            var valid_days = [];
            for (var i = 1; i <= 7; i++) {
                if (calendar.split("|")[i] == "T") {
                    valid_days.push(i - 1);
                }
            }
            var dateMin = new Date();
            $('.datepicker').datetimepicker('destroy');
            $(".datepicker").datetimepicker({
                format: 'd/m/Y H:i',
                beforeShowDay: function (date) {
                    var day = date.getDay();
                    day1 = calendar.split("|")[1] == "T" ? day : day != 0
                    day2 = calendar.split("|")[2] == "T" ? day : day != 1
                    day3 = calendar.split("|")[3] == "T" ? day : day != 2
                    day4 = calendar.split("|")[4] == "T" ? day : day != 3
                    day5 = calendar.split("|")[5] == "T" ? day : day != 4
                    day6 = calendar.split("|")[6] == "T" ? day : day != 5
                    day7 = calendar.split("|")[7] == "T" ? day : day != 6
                    return [(day1 && day2 && day3 && day4 && day5 && day6 && day7)];
                },
                minDate: dateMin,
                onGenerate: function (ct) {
                    if (valid_days.indexOf(ct.getDay()) == -1 || new Date(ct) < new Date(dateMin)) {
                        disable_time();
                    }
                }
            });
        }
        else if (calendar.split("|")[0] == "3") {
            var dateMin = new Date();
            dateMin = dateMin > new Date(calendar.split("|")[1]) ? dateMin : calendar.split("|")[1];
            $('.datepicker').datetimepicker('destroy');
            $('.datepicker').datetimepicker({
                format: 'd/m/Y H:i',
                minDate: new Date(dateMin),
                maxDate: new Date(calendar.split("|")[2]),
                defaultDate: dateMin,
                onGenerate: function (ct) {
                    if (new Date(ct) < new Date(dateMin) || new Date(ct) > new Date(calendar.split("|")[2])) {
                        disable_time();
                    }
                }
            });
        }

        function disable_time() {
            $('.xdsoft_time_variant .xdsoft_time').each(function () {
                $(this).addClass('xdsoft_disabled');
            });
        }

    });   
</script>
<style type="text/css">
  .overlay{
  position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background: #ddd;
   opacity: 0.6;
   z-index: 99;
   height: 100%;
 }
</style>
