<!-- Top wrap - Slider -->
<div class="slider-wrap" id="1">
  <div class="desktop">
    <div id="owl-main" class="owl-carousel">
      <div class="item"><%= image_tag 'slider/01.jpg', class: 'img-responsive' %>
      </div>
      <div class="item"><%= image_tag 'slider/02.jpg', class: 'img-responsive' %>
      </div>
      <div class="item"><%= image_tag 'slider/03.jpg', class: 'img-responsive' %>
      </div>
      <div class="item"><%= image_tag 'slider/04.jpg', class: 'img-responsive' %>
      </div>
    </div>
    <div class="slide-content">
      <div id="owl-main-text" class="owl-carousel">
        <div class="item">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <h2>Make your guests savour the moment with the perfect musicians</h2>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <h2>With the right musicians, the food always tastes better!</h2>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <h2>The most talented artists for the biggest music events</h2>
            </div>
          </div>
        </div>
      </div>
      <a class="intro-btn" id="how_it_work">How it works</a>
    </div>
    <a href="#2" class="scroll-btn"></a>
  </div>
  <div class="search">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Where is your event?">
                            <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      </span>
          </div>
          <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>
<!-- Top wrap - Slider -->

<section class="musicians" id="2">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Available Musicians near you</h1>

      <div class="space30"></div>
      <hr>
    </div>
    <div class="space30"></div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-4">
            <div class="musician">
              <div class="row musician-image">
                <div class="col-md-12">
                  <%= image_tag 'musicians/01.jpg', class: 'img-responsive' %>
                  <a class="btn btn-default btn-price">From 245 USD</a>
                </div>
              </div>
              <div class="row musician-profile">
                <div class="col-md-12">
                  <h4>Hafza</h4>

                  <p><i class="fa fa-music"></i> Pop, Jazz, Ballads</p>

                  <p><i class="fa fa-map-marker"></i> Kuala Lumpur</p>
                </div>
              </div>
            </div>
            <div class="space20"></div>
          </div>
          <div class="col-md-4">
            <div class="musician">
              <div class="row musician-image">
                <div class="col-md-12">
                  <%= image_tag 'musicians/01.jpg', class: 'img-responsive' %>
                  <a class="btn btn-default btn-price">From 245 USD</a>
                </div>
              </div>
              <div class="row musician-profile">
                <div class="col-md-12">
                  <h4>Hafza</h4>

                  <p><i class="fa fa-music"></i> Pop, Jazz, Ballads</p>

                  <p><i class="fa fa-map-marker"></i> Kuala Lumpur</p>
                </div>
              </div>
            </div>
            <div class="space20"></div>
          </div>
          <div class="col-md-4">
            <div class="musician">
              <div class="row musician-image">
                <div class="col-md-12">
                  <%= image_tag 'musicians/01.jpg', class: 'img-responsive' %>
                  <a class="btn btn-default btn-price">From 245 USD</a>
                </div>
              </div>
              <div class="row musician-profile">
                <div class="col-md-12">
                  <h4>Hafza</h4>

                  <p><i class="fa fa-music"></i> Pop, Jazz, Ballads</p>

                  <p><i class="fa fa-map-marker"></i> Kuala Lumpur</p>
                </div>
              </div>
            </div>
            <div class="space20"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="musician">
              <div class="row musician-image">
                <div class="col-md-12">
                  <%= image_tag 'musicians/01.jpg', class: 'img-responsive' %>
                  <a class="btn btn-default btn-price">From 245 USD</a>
                </div>
              </div>
              <div class="row musician-profile">
                <div class="col-md-12">
                  <h4>Hafza</h4>

                  <p><i class="fa fa-music"></i> Pop, Jazz, Ballads</p>

                  <p><i class="fa fa-map-marker"></i> Kuala Lumpur</p>
                </div>
              </div>
            </div>
            <div class="space20"></div>
          </div>
          <div class="col-md-4">
            <div class="musician">
              <div class="row musician-image">
                <div class="col-md-12">
                  <%= image_tag 'musicians/01.jpg', class: 'img-responsive' %>
                  <a class="btn btn-default btn-price">From 245 USD</a>
                </div>
              </div>
              <div class="row musician-profile">
                <div class="col-md-12">
                  <h4>Hafza</h4>

                  <p><i class="fa fa-music"></i> Pop, Jazz, Ballads</p>

                  <p><i class="fa fa-map-marker"></i> Kuala Lumpur</p>
                </div>
              </div>
            </div>
            <div class="space20"></div>
          </div>
          <div class="col-md-4">
            <div class="musician">
              <div class="row musician-image">
                <div class="col-md-12">
                  <%= image_tag 'musicians/01.jpg', class: 'img-responsive' %>
                  <a class="btn btn-default btn-price">From 245 USD</a>
                </div>
              </div>
              <div class="row musician-profile">
                <div class="col-md-12">
                  <h4>Hafza</h4>

                  <p><i class="fa fa-music"></i> Pop, Jazz, Ballads</p>

                  <p><i class="fa fa-map-marker"></i> Kuala Lumpur</p>
                </div>
              </div>
            </div>
            <div class="space20"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div class="space50"></div>
    <a class="btn btn-default btn-browse">Browse all Artists in your area</a>

    <div class="space50"></div>
  </div>
</section>

<section class="news">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1 class="text-center">Newsletter sign up here</h1>

          <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Email Address">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-news" type="button">Subscribe</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render '/shared/landingfooter' %>

<%= content_for(:bottom_script) do %>
<script>

$(document).ready(function () {
    // scroll to top and show top content
    $('#how_it_work').on('click', function () {
        $('html, body').stop().animate({
            scrollTop: 0
        }, 300, function () {
            $('#how_it_work_top_bar').slideDown(500);
        });
    });

    // hide top content on click close icon
    $('#close_top_bar').on('click', function () {
        $('#how_it_work_top_bar').slideUp(300);
    });
});

$(window).scroll(function () {
    // hide top content when scroll position is top of content
    if ($(this).scrollTop() > $('#how_it_work').position().top) {
        if ($('#how_it_work_top_bar').css('display') !== 'none') {
            $('#how_it_work_top_bar').slideUp(0);
            $('html, body').stop().animate({
                scrollTop: 0
            }, 0);
        }
    }
});

$('#help1').tooltip()
</script>
<% end %>
